body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* размер шрифта */
    color: #0A143A; /* Цвет текста */
}
.container {
    max-width: 1146px; /* Максимальная ширина элемента */
    margin: auto; /* Автоматическое выравнивание по середине */
}
.header {
    padding-top: 30px; /* Внутренний отступ сверху */
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.navbar {
    display: flex; /* Делаем гибкий блок, его расположение делаем гибким */
    align-items: center; /* Выравниваем по вертикали по центру ---*/
    justify-content: space-between; /* Разбросать элементы по краям */
    padding-bottom: 24px;
}
/* Меню в шапке */
.navbar-menu {
    margin-right: auto; /* Автоматический отступ справа */
}
.menu {
    list-style: none; /* Отключаем точки в списке */
    margin: 0; /* Обнуляем отступы */
    padding-left: 22px; /* Внутренний отступ слева */
    padding-right: 22px; /* Внутренний отступ справа */
    display: flex;
}
/* Для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
    margin-right: 14px; /* Отступ справа */
}
.menu-link {
    text-decoration: none; /* Отключаем подчеркивание ссылок */
    color: inherit; /* Возьми цвет текста, каак у родителя (body) */
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px; /* Сверху и снизу 10 пикселей, а по краям 15 */
    cursor: pointer;
}
.button-link {
    color: inherit;
}
.button-primary {
    background: #256EEB; /* Фон */
    border-radius: 5px; /* Скругление углов */
    color: white;

}
.search-panel {
    height: 50px; /* Высота */
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input {
    flex-grow: 1; /* Растягивается на всё свободное место */
    background: #FFFFFF;
    border-radius: 5px;
    border: none; /* Отключаем обводку */
    padding-left: 22px;
    padding-right: 22px;
}
.search-button {
    background: #256EEB;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search-button-text {
    margin-left: 5px;
}
.page-content {
    display: grid; /* Гибкая система */
    grid-template-columns: 9fr 3fr; /* Задаются две колонки с разным весом */
    grid-column-gap: 30px; /* воздух между колонками */
}
.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.card {
    margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
    margin-right: 20px;
}
.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.card-link {
    text-decoration: none;
}
.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}
.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}
.service {
    margin-bottom: 25px;
}
.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.service-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;
}
.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}